.display-flex {
  display: flex;
  align-items: center;
}

.fav-heroes-ico {
  width: 2.4rem;
  height: 2.4rem;
}

header {
  justify-content: space-between;
  padding: 1.6rem;
  background-color: var(--secondary-color);
}

.loading-bar {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 0.5rem;
  width: 0;
  background-color: var(--marvel-color);
}

.loading-bar.animate {
  animation: load 2.5s ease forwards;
}

#btn-show-fav-heroes {
  gap: 0.8rem;
  padding: 0.8rem;
  background-color: transparent;
  cursor: pointer;
}

#numb-of-fav-heroes {
  font-size: var(--L-text);
  color: var(--primary-color);
}

main {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.4rem;
}

/* HeroesList.tsx styles */

#heroes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.25rem, 18.8rem));
  justify-content: center;
  justify-items: center;
  gap: 1.6rem;
  padding: 0 1.6rem;
}

.heroes-card {
  width: 17.25rem;
  height: 24.5rem;
  flex-direction: column;
  align-items: stretch;
}

.heroes-img {
  width: 100%;
  height: 19rem;
}

.heroe-info {
  background-color: var(--secondary-color);
  justify-content: space-between;
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  position: relative;
}

.heroe-color-bar {
  height: 0.5rem;
  width: 100%;
  position: absolute;
  top: -0.5rem;
  right: 0;
  background-color: var(--marvel-color);
  transition: height 300ms;
}

.heroe-color-bar-cover {
  height: 109%;
}

.heroe-info-ico {
  width: 1.2rem;
  height: 1.08rem;
}

.heroes-name {
  font-size: var(--M-text);
  font-weight: 400;
  width: 80%;
  color: var(--primary-color);
}

.cut-ico {
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.heroes-name,
.heroe-info-ico,
.cut-ico {
  z-index: 1;
}

/* SearchBar.tsx styles */

#search-section {
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.search-div {
  gap: 1.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px var(--secondary-color) solid;
  background-color: var(--primary-color);
}

#search-inp {
  width: 100%;
  height: 2.7rem;
  font-size: var(--L-text);
  font-weight: 400;
}

#search-inp:focus-visible {
  outline: none;
}

#search-p {
  font-size: var(--S-text);
}

/* Media queries */

@media (max-width: 425px) {
  #heroes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  #search-section {
    padding: 1.2rem 4.8rem;
  }
}

@media (min-width: 1512px) {
  #heroes-container {
    grid-template-columns: repeat(7, 1fr);
  }

  .heroes-card {
    width: 18.8rem;
  }
}

/* KEYFRAME */

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
