* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

:root {
  --marvel-color: #ec1d24;
  --primary-color: #fff;
  --secondary-color: #000;

  --title-1-mobile: 3.2rem;
  --title-2-mobile: 2.4rem;

  --title-1-laptop: 4rem;
  --title-2-laptop: 3.2rem;

  --L-text: 1.6rem;
  --M-text: 1.4rem;
  --S-text: 1.2rem;
}
